:root {
  --background-color: #fff;
  --text-color: #333;
  --border-color: #ddd;
  --link-color: #003A97;
  --button-color: #fff;
  --button-background-color: #006AA7;
  --cell-background-color: #f3f3f3;
}
