@font-face {
  font-family: 'element-icons';
  src: url('https://swedberg.us/fonts/element-icons.woff') format('woff'),
    url('https://swedberg.us/fonts/element-icons.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Variables: */
:root {
  color-scheme: light dark;

  --gap: 20px;
  --aside-bg: light-dark(#f3f3f3, #323335);
  --header-bg: light-dark(#f7f7f7, #1a1a1a);
  --header-menu-bg: light-dark(#f5f5f7,#28292b);
  --main-bg: light-dark(#fcfcfd, #18191b);
  --main-bg-gradient: light-dark(#fff, #2c3032);
  --hover-bg: light-dark(#f5f7fa, #121418);
  --layout-border-color: light-dark(#efefef, #404040);
  --item-border-color: light-dark(#bebebe, #707174);
  --item-bg: light-dark(#f3f3f6, #18191b);
  --text-color: light-dark(#243436, #f7f7f9);
  --text-emphasis: light-dark(#090910, #fff);
  --link-color: light-dark(#233499, #c2d1ff);
  --primary: #0b66d4;
  --primary-hover: #333499;
  --danger: #f56c6c;
  --danger-hover: #d83737;
  --info: light-dark(#f3f3f6, #707174);
  --muted-color: light-dark(#aaabad, );
  --button-border-color: light-dark(#bababa, #333);
}

/* Styles */

html,
html *,
html *::before,
html *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--text-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

.Page {
  background-color: var(--aside-bg);
  box-sizing: border-box;
  min-height: 100vh;
  --collapsed-width: 86px;
  --aside-transition: width 0.5s;
}

main.Main {
  background-color: var(--main-bg);
  background-image: radial-gradient(ellipse at 50% 10%, var(--main-bg-gradient), var(--header-bg) 80%);
  color: var(--text-color);
  padding-left: 32px;
}

header {
  background-color: var(--header-bg);
  border-bottom: 1px solid var(--layout-border-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  color: var(--text-color);
}


h2 {
  font-weight: normal;
  margin-top: 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

/* FORM ELEMENTS */
.form-item {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 4px;

  & > label {
    white-space: nowrap;
  }
  input {
    width: 100%;
    &:focus {
      outline: 1px solid var(--primary);
    }
  }
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}

input:where([type="search"],[type="text"]) {
  appearance: none;
  padding-block: 4px;
  padding-inline-start: 15px;
  height: 40px;
  border: 1px solid var(--item-border-color);
  border-radius: 4px;

}

/* buttons */
.el-button--default,
.el-radio-button__inner,
button {
  border-radius: 3px;
  background-color: var(--main-bg);
  color: var(--text-color);
  border-color: var(--button-border-color);
}
.el-button {
  border-color: var(--main-bg);
}
.el-button-group .el-button--danger:last-child,
.el-radio-button:last-child .el-radio-button__inner {
  border-right-color: var(--button-border-color);
}
.el-button-group .el-button--danger:first-child,
.el-radio-button:first-child .el-radio-button__inner {
  border-left-color: var(--button-border-color);
}

/* selects */
.el-select-dropdown,
.el-select-dropdown__list,
.el-input__inner,
.el-radio-button__inner,
input {
  background-color: var(--main-bg);
  color: var(--text-color);
  border-color: var(--button-border-color);
}


.el-form-item__label {
  color: var(--text-color);
}


.toggle-checkbox {

}
/* MISCELLANEOUS & UTILITIES */
.row {
  margin-bottom: var(--gap);
}
.dim {
  color: #bbb;
}
div.el-tree {
  background: transparent;
  color: var(--text-color);
}
.el-tree-node__content:hover {
  background-color: var(--hover-bg);
}

.inline-flex {
  display: inline-flex;
}
.flex {
  display: flex;
  min-width: 0;
}

.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}

.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}

/* dialogs and popups */

.el-popper.el-popper[x-placement^='bottom'] .popper__arrow,
.el-popper.el-popper[x-placement^='bottom'] .popper__arrow::after {
  border-bottom-color: var(--main-bg);
}

.Popup,
.el-dialog,
dialog,
.el-button--plain {
  background-color: var(--aside-bg);
  color: var(--text-color);
}

dialog {
  --duration: 0.34s;

  transition:
    translate var(--duration) ease-out,
    scale var(--duration) ease-out,
    opacity var(--duration) ease-out,
    display var(--duration) ease-out allow-discrete;

  &[open] {
    translate: 0 0;
    scale: 1;
    opacity: 1;

    @starting-style {
      translate: 0 -50%;
      scale: .85;
      opacity: 0;
    }
  }

  &:not([open]) {
    translate: 0 -8vh;
    scale: .85;
      opacity: 0;
  }
}

::backdrop {
  background: none;
}
