@font-face {
  font-family: 'element-icons';
  src: url('https://swedberg.us/fonts/element-icons.woff') format('woff'),
    url('https://swedberg.us/fonts/element-icons.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* ORION ONLY */
.orion {
/* nothing needed here anymore */
}

/* Variables: */
body {
  --gap: 20px;
}

.Page--light {
  --aside-bg: #f3f3f3;
  --header-bg: #f7f7f7;
  --header-menu-bg: #f5f5f7;
  --main-bg: #fcfcfd;
  --main-bg-gradient: #fff;
  --hover-bg: #f5f7fa;
  --layout-border-color: #efefef;
  --item-border-color: #bebebe;
  --item-bg: #f3f3f3;
  --text-color: #343436;
  --link-color: #233499;
  --muted-color: #aaabad;
  --button-border-color: #bababa;
}

.Page--dark {
  --aside-bg: #323335;
  --header-bg: #1a1a1a;
  --header-menu-bg: #28292b;
  --main-bg: #18191b;
  --main-bg-gradient: #2c3032;
  --hover-bg: #121418;
  --layout-border-color: #404040;
  --text-color: #f7f7f9;
  --link-color: #c2d1ff;
  --muted-color: #707174;
  --button-border-color: #333;
}

/* Styles */
body {
  margin: 0;
  color: var(--text-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  color: var(--text-color);
}
.el-button--default,
.el-radio-button__inner,
button {
  border-radius: 3px;
  background-color: var(--main-bg);
  color: var(--text-color);
  border-color: var(--button-border-color);
}
.el-button {
  border-color: var(--main-bg);
}
.el-button-group .el-button--danger:last-child,
.el-radio-button:last-child .el-radio-button__inner {
  border-right-color: var(--button-border-color);
}
.el-button-group .el-button--danger:first-child,
.el-radio-button:first-child .el-radio-button__inner {
  border-left-color: var(--button-border-color);
}
.dim {
  color: #bbb;
}
.el-select-dropdown,
.el-select-dropdown__list,
.el-input__inner,
.el-radio-button__inner,
input {
  background-color: var(--main-bg);
  color: var(--text-color);
  border-color: var(--button-border-color);
}
.el-popper.el-popper[x-placement^='bottom'] .popper__arrow,
.el-popper.el-popper[x-placement^='bottom'] .popper__arrow::after {
  border-bottom-color: var(--main-bg);
}

.Popup,
.el-dialog,
.el-button--plain {
  background-color: var(--aside-bg);
  color: var(--text-color);
}
.el-switch__label,
.el-form-item__label {
  color: var(--text-color);
}
body,
body * {
  box-sizing: border-box;
}

.Page {
  background-color: var(--aside-bg);
  box-sizing: border-box;
  min-height: 100vh;
  --collapsed-width: 86px;
  --aside-transition: width 0.5s;
}

main.el-main {
  background-color: var(--main-bg);
  background-image: radial-gradient(ellipse at 50% 10%, var(--main-bg-gradient), var(--header-bg) 80%);
  color: var(--text-color);
  padding-left: 32px;
}

header.el-header {
  background-color: var(--header-bg);
  border-bottom: 1px solid var(--layout-border-color);
  color: var(--text-color);
}
.el-row {
  margin-bottom: var(--gap);
}

div.el-tree {
  background: transparent;
  color: var(--text-color);
}
.el-tree-node__content:hover {
  background-color: var(--hover-bg);
}

h2 {
  font-weight: normal;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}
