{% extends '_layouts/default.html' %}
{% block layoutContent %}

<div class="Container">
  <h3>User Information</h3>

  <form class="Form Form--user" action="" method="POST">
    <input type="hidden" name="_csrf" value="{{_csrf}}">
    {% include './_fieldsets/profile.njk' %}
    {% include './_fieldsets/picture.njk' %}
    <div class="FormField FormField--submit">
      <button class="Button Button--default" type="submit">
        Update User
      </button>
    </div>
  </form>
  {% include './_fieldsets/words.njk' %}
  <h3>Delete User</h3>
  <form class="Form Form--user" action="/user/delete/{{ profile.id }}" method="POST">
    <p>
      You can delete this account, but keep in mind the action is irreversible.
    </p>
    <input type="hidden" name="_csrf" value="{{_csrf}}">
    <div class="FormField FormField--submit">
      <button class="Button Button--warning" type="submit">
        Delete account
      </button>
    </div>
  </form>
</div>
{% endblock %}
