.FormField {
  margin: 1em 0;
  & label {
    font-weight: bold;
  }
  & input[type=text],
  & input[type=url] {
    width: 100%;
    max-width: 400px;
  }
}

.FormField.FormField--radio {
  margin: .2em 0;
  & label {
    font-weight: normal;
  }
}
.FormField--select,
.FormField--text {

  & label {
    display: inline-block;
    min-width: 9em;
    &::after {
      content: ':';
    }
  }
}
.FormField--select {
  & select {
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 0;
    height: 24px;
  }
}
.FormField--text {
  & input {
  height: 20px;
  }
}
