.Hr {
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  margin-bottom: 6px;
}
.Hr:last-child,
.Hr + .Hr {
  border-bottom-width: 0;
  margin-bottom: 0;
}
.Hr.is-hidden {
  display: none;
}
